#include <dt-bindings/zmk/keys.h>

/ {
    gpio_keys: gpio-keys {
        compatible = "zmk,gpio-keys";
        #address-cells = <1>;
        #size-cells = <0>;

        /* 摇杆四方向 - 共地接法，内部上拉，低电平触发 */
        input@0 { gpios = <&gpio0 3 GPIO_ACTIVE_LOW>; };  // 上 D2
        input@1 { gpios = <&gpio0 4 GPIO_ACTIVE_LOW>; };  // 下 D3
        input@2 { gpios = <&gpio0 28 GPIO_ACTIVE_LOW>; }; // 左 D4
        input@3 { gpios = <&gpio0 29 GPIO_ACTIVE_LOW>; }; // 右 D5

        /* 街机按键 */
        input@4 { gpios = <&gpio0 30 GPIO_ACTIVE_LOW>; }; // 按键1 D6
        input@5 { gpios = <&gpio0 31 GPIO_ACTIVE_LOW>; }; // 按键2 D7
        input@6 { gpios = <&gpio0 2 GPIO_ACTIVE_LOW>; };  // 按键3 D8
        input@7 { gpios = <&gpio1 15 GPIO_ACTIVE_LOW>; }; // 按键4 D9
        input@8 { gpios = <&gpio1 13 GPIO_ACTIVE_LOW>; }; // 开始 D10
        input@9 { gpios = <&gpio0 10 GPIO_ACTIVE_LOW>; }; // 选择 D16
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* 顺序必须和上面 input@0 到 input@9 一一对应 */
            bindings = <
                &joy_hat_up
                &joy_hat_down
                &joy_hat_left
                &joy_hat_right
                &joy_btn1
                &joy_btn2
                &joy_btn3
                &joy_btn4
                &joy_btn5
                &joy_btn6
            >;
        };
    };
};
